# Maven
target/

# Binarios Java
*.class
*.jar
*.war

# Maven metadata
**/maven-status/

# IDE basura
*.ser

/SOAP_DOTNET/.vs
/SOAP_DOTNET/04. CLICON/.vs
/SOAP_DOTNET/04. CLIESC/.vs
/SOAP_DOTNET/04. CLIMOV/.vs
/SOAP_DOTNET/04. CLIWEB/.vs
/SOAP_DOTNET/04. SERVIDOR/.vs
