@inject ServicioSesion Sesion
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClienteWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (!Sesion.EstaAutenticado)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="conversion">
                    <span class="bi bi-arrow-left-right-nav-menu" aria-hidden="true"></span> Conversion
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <button class="nav-link btn btn-link text-start w-100" @onclick="CerrarSesion">
                    <span class="bi bi-box-arrow-left-nav-menu" aria-hidden="true"></span> Cerrar Sesion
                </button>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        Sesion.OnChange += OnSesionChanged;
    }

    private void OnSesionChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private void CerrarSesion()
    {
        Sesion.ClearToken();
    }

    public void Dispose()
    {
        Sesion.OnChange -= OnSesionChanged;
    }
}
