@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenido a ClienteWeb</h1>
    <p class="lead">Cliente web para el servicio WCF de conversiones.</p>
    <hr class="my-4" />
    <p>Use el menu de navegacion para iniciar sesion y acceder a las herramientas de conversion.</p>
    <a class="btn btn-primary btn-lg" href="login" role="button">Iniciar Sesion</a>
</div>
